.pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.page-item {
  list-style-type: none;
  border-width: 1px;
  padding: 1rem;
  font-size: medium;
}

.page-item.disabled {
  color: #bfc0c0;
}

.page-link {
  cursor: pointer;
}

.active {
  color: #a06cd5;
}
